$fontDefault: "DM Sans", Arial, Helvetica, sans-serif;
$modalDuration: 0.8s;

/* Colors */
$color_1: #ff0000;
$color_2: #fe142f;
$color_3: #e54858;
$color_4: #ffffff;
$color_5: #000000;
$color_6: #232323;
$color_7: #3876ac;
$color_8: #279e7a;