main {
  font-size: 130%;
  font-weight: bolder;
  color: var(--third-color);
  margin: 1px 30px;
  border-radius: 2rem;
  text-align: justify;
}

.cta {
  background-color: var(--main-color-1);
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  text-transform: capitalize;
  font-size: 14px;
  height: 31px;

  /* padding: 15px 23px;*/
  padding-left: 31.5px;
  padding-right: 31.5px;
  margin: 0;
  margin-top: 59px;
  border-radius: 8px;
  border: 0;

  span {
    display: inline-block;
    white-space: nowrap;
  }
}

.button {
  background: var(--main-color-1);
  margin-top: 0.5em;
  padding: 1em;
  color: var(--secondary-color);
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background: var(--fourth-color);
  }
}

.smFont {
  font-size: 16px;
}

@media (width > 540px) {
  main {
    margin: 1px 60px;
  }

  .cta {
    font-size: 25px;
    height: 55px;
  }
}
