
footer {
  font-family: var(--font-slab);
  /* padding-left: 2vw;
  padding-right: 2vw; */
  margin: 0 20px;
  padding: 10px;
}

.copyrights {
  color: var(--main-color-1);
  padding: 0;
  font-size: 1rem;
  margin: 60px 0 30px;
  font-weight: bolder;
}

/* @media screen and (max-width: 800px) { */
@media screen and (max-width: 1020px) {
  .copyrights {
    margin-top: 50px;
    text-align: center;
  }
}