
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font-slab);
  height: 180px;
  margin: 0 20px;
  padding: 10px;
}

.copyright {
  color: var(--main-color-1);
  padding: 0;
  font-size: 15px;
  font-weight: bolder;
}

@media screen and (max-width: 540px) {
  .copyright {
    font-size: 10px;
    margin-top: 0;
  }  
}


@media screen and (max-width: 1020px) {
  footer {
    align-items: center;
    justify-content: center;
    height: 100px;
  }
}