.topnav {
  display: flex;
  justify-content: space-between;
  margin: 3.5%;
}

.header-logo img {
  width: 277px;
  height: 100%;
}

.main-navbar {
    float: right;
}

.main-navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.topnav a {
  float: left;
  display: block;
  color: var(--third-color)000;
  text-align: center;
  padding: 12px 12px;
  margin: 5px;
  text-decoration: none;
  font-size: 20px;
  font-family: Roboto, sans-serif;
}

.topnav a:hover {
  background-color: var(--main-color);
  color: var(--main-color);
  border-radius: 15px;
}
.main-navbar a:hover {
  background-color: var(--main-color);
  color: var(--secondary-color);
  border-radius: 15px;
}

.topnav a.active {
  background-color: var(--main-color);
  color: var(--secondary-color);
  border-radius: 15px;
}

.topnav .icon {
  display: none;
  color: var(--main-color);
}

.topnav .icon .fa.fa-bars {
  font-size: 40px;
  width: 100%;
}

@media screen and (max-width: 540px) {
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    margin-top: -15px;
  }
}

@media screen and (max-width: 1280px) {
  .topnav a {
    display: none;
  }
  .topnav .icon {
    display: block;
    position: absolute;
    right: 30px;
    top: 0;
    margin: 0;
    opacity: 1;
    transition: opacity 0.2s;
  }
  .topnav .icon:hover {
    background-color: initial;
    color: var(--main-color);

    opacity: 0.6;
  }

  .topnav.responsive {
    position: relative;
  }
  .main-navbar ul {
    position: absolute;
    right: 0;
    flex-direction: column;
    z-index: 1;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    z-index: 1;
  }
  .topnav.responsive a {
    display: block;
    text-align: left;
  }
}