main {
  font-size: 130%;
  font-weight: bolder;
  color: var(--third-color);
  padding-top: 0.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 1px 20px 15px;
  border-radius: 2rem;
  text-align: justify;


}

.modal-btn {
  font-size: 145%;
  background: var(--main-color-1);
  display: flex;
  margin: auto;
  padding: 2em;
  color: var(--secondary-color);
  padding: 0.75rem 2.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.modal-btn:hover {
  background: #3876ac;
}

.button {
  background: var(--main-color-1);
  margin-top: 0.5em;
  padding: 1em;
  color: var(--secondary-color);
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background: var(--fourth-color);
}

.smFont {
  font-size: 16px;
}

