:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;

  /* Colors */
  --main-color: #ff0000;
  --main-color-1: #fe142f;
  --main-color-2: #e54858;
  --secondary-color: #ffffff;
  --third-color: #000000;
  --third-color-1: #232323;
  --fourth-color: #3876ac;
  --fifth-color: #279e7a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Landing Page */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  /* background-image: url("background.png"); */
  background-color: var(--secondary-color);
  font-family: var(--font-default);
  font-size: 18px;
  max-width: 1300px;
  margin: 0 auto;
}

p {
  margin-bottom: 0;
  padding: 0.5vw;
}

img {
  padding-right: 1rem;
}