/* Colors */
.overlay {
  display: none;
  position: absolute;
  z-index: 4;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.modal {
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: 0.8s;
  background: #232323;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 85px;
  min-height: calc(100vh - 85px);
}

.modal-body {
  padding: 15px 8%;
  margin: 0 auto;
}

label {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 11px;
}
label span {
  color: #ff0000;
}

input[type=text], input[type=email], input[type=date], input[type=number] {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}

#firstname, #lastname {
  text-transform: capitalize;
}

.text-control {
  margin: 0;
  padding: 8px;
  margin-bottom: 11px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 50px;
  color: #000000;
}

.formData {
  margin-bottom: 5px;
  max-height: 109px;
}
.formData.formData--submit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#submit {
  margin-top: 0px;
}

.formData.radio-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 26px;
  row-gap: 7px;
}

.radioBtn_label, .checkbox_label {
  position: relative;
  margin-left: 36px;
  font-size: 12px;
  font-weight: normal;
  height: 26px;
  margin-bottom: 0;
}

.radioBtn_label .choiceIcon, .checkbox_label .choiceIcon {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -1px;
  transition: 0.3s;
}

.radioBtn_label .choiceIcon::after, .checkbox_label .choiceIcon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}

.chooseInput {
  display: none;
}
.chooseInput:checked + .radioBtn_label .choiceIcon::after {
  opacity: 1;
}
.chooseInput:checked + .checkbox_label .choiceIcon {
  background: #279e7a;
}
.chooseInput:checked + .checkbox_label .choiceIcon::after {
  opacity: 1;
}

.checkbox_label .choiceIcon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}
.checkbox_label .choiceIcon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #ffffff;
  border-left-color: #ffffff;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}

.modal--close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}
.modal--close:before, .modal--close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #ffffff;
}
.modal--close:before {
  transform: rotate(45deg);
}
.modal--close:after {
  transform: rotate(-45deg);
}

.modal-body .cta {
  display: block;
}

.modal .modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: #232323;
  width: 100%;
  height: 100%;
  animation: unset;
}
.modal .modal .cta {
  position: absolute;
  bottom: 18px;
}

.text-label {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.error {
  border: 2px solid #e54858;
}

.attention {
  position: absolute;
  bottom: 10px;
  display: block;
  color: #ff0000;
  font-size: 10px;
  padding-left: 8%;
  padding-right: 8%;
}

.error-message {
  display: block;
  color: #ff0000;
  font-size: 10px;
  padding: 0;
}

#lastTournament {
  padding-top: 11px;
  margin-bottom: 11px;
}
#lastTournament ~ .error-message {
  padding-top: 0;
}

@media (width > 540px) {
  .overlay {
    position: fixed;
    top: 0;
    background-color: rgba(26, 39, 156, 0.4);
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: unset;
  }
  .modal .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .text-control {
    height: 50px;
  }
}
@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=modal.css.map */