.bground {
  display: none;
  position: absolute;
  top: 85px;
  z-index: 4;
  left: 0;
  /* top: 0; */
  height: 100%;
  width: 100%;
}

.modal {
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: var(--third-color-1);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: var(--secondary-color);
  padding-top: 10px;
  height: calc(100vh - 85px);
}

.modal-body {
  padding: 15px 8%;
  margin: 0 auto;
}

label {
  font-family: var(--font-default);
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 11px;
}
label span {
  color: var(--main-color);
}

input[type=text], input[type=email], input[type=date], input[type=number] {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}

#firstname, #lastname {
  text-transform: capitalize;
}

.text-control {
  margin: 0;
  padding: 8px;
  margin-bottom: 11px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 50px;
  color: var(--third-color);
}

.formData {
  margin-bottom: 5px;
  max-height: 109px;
}
.formData.formData--submit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#submit {
  margin-top: 0px;
}

.formData.radio-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 26px;
  row-gap: 7px;
}

.checkbox-label, .checkbox2-label {
  position: relative;
  margin-left: 36px;
  font-size: 12px;
  font-weight: normal;
  height: 26px;
  margin-bottom: 0;
}

.checkbox-label .checkbox-icon, .checkbox2-label .checkbox-icon {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid var(--fifth-color);
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -1px;
  transition: 0.3s;
}

.checkbox-label .checkbox-icon::after, .checkbox2-label .checkbox-icon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: var(--fifth-color);
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}

.checkbox-input {
  display: none;
}
.checkbox-input:checked + .checkbox-label .checkbox-icon::after {
  opacity: 1;
}
.checkbox-input:checked + .checkbox2-label .checkbox-icon {
  background: var(--fifth-color);
}
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
  opacity: 1;
}

.checkbox2-label .checkbox-icon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}
.checkbox2-label .checkbox-icon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: var(--secondary-color);
  border-left-color: var(--secondary-color);
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}

.modal--close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}
.modal--close:before, .modal--close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: var(--secondary-color);
}
.modal--close:before {
  transform: rotate(45deg);
}
.modal--close:after {
  transform: rotate(-45deg);
}

.modal-body .cta {
  display: block;
}

.modal .modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: var(--third-color-1);
  width: 100%;
  height: 100%;
}
.modal .modal .cta {
  position: absolute;
  bottom: 18px;
}

.text-label {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.error {
  border: 2px solid var(--main-color-2);
}

.attention {
  display: block;
  color: var(--main-color);
  font-size: 10px;
  padding: 15px 8%;
}

.error-message {
  display: block;
  color: var(--main-color);
  font-size: 10px;
  padding: 0;
}

#lastTournament {
  padding-top: 11px;
  margin-bottom: 11px;
}
#lastTournament ~ .error-message {
  padding-top: 0;
}

@media (width > 540px) {
  .bground {
    position: fixed;
    top: 0;
    background-color: rgba(26, 39, 156, 0.4);
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: unset;
  }
  .modal .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .text-control {
    height: 50px;
  }
}
@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=modal.css.map */